@charset "utf-8";

/* ### 기본 스타일 커스터마이징 시작 ### */

/* 버튼 */
.mbskin a.btn01{}
.mbskin a.btn01:focus, .mbskin .btn01:hover{}
.mbskin a.btn02{}
.mbskin a.btn02:focus, .mbskin .btn02:hover{}
.mbskin .btn_confirm{}
/* 서식단계 진행 */
.mbskin .btn_submit{}
.mbskin button.btn_submit{}
.mbskin fieldset .btn_submit{}
.mbskin .btn_cancel{}
.mbskin button.btn_cancel{}
.mbskin .btn_cancel:focus, .mbskin .btn_cancel:hover{}
.mbskin a.btn_frmline, .mbskin button.btn_frmline{}
/* 우편번호검색버튼 등 */
.mbskin button.btn_frmline{}
.mbskin .win_btn{}
/* 새창용 */
.mbskin .win_btn button{}
.mbskin .win_btn input{}
.mbskin .win_btn a{}
.mbskin .win_btn a:focus, .mbskin .win_btn a:hover{}

/* 게시판용 버튼 */
.mbskin a.btn_b01{}
.mbskin a.btn_b01:focus, .mbskin .btn_b01:hover{}
.mbskin a.btn_b02{}
.mbskin a.btn_b02:focus, .mbskin .btn_b02:hover{}
.mbskin a.btn_admin{}
/* 관리자 전용 버튼 */
.mbskin a.btn_admin:focus, .mbskin a.btn_admin:hover{}

/* 기본박스 */
.mbskin{}
.mbskin:before, .mbskin:after{}
.mbskin .frm_input{width:100%;}
.mbskin .btn_submit{width:80px;line-height:40px;font-weight:bold;font-size:1.5em;vertical-align:top;}
.mbskin h1{margin:60px 0 30px;font-size:2em;}


/* 기본테이블 */

.mbskin .tbl_head01{}
.mbskin .tbl_head01 caption{}
.mbskin .tbl_head01 thead th{}
.mbskin .tbl_head01 thead a{}
.mbskin .tbl_head01 thead th input{}
/* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.mbskin .tbl_head01 tfoot th{}
.mbskin .tbl_head01 tfoot td{}
.mbskin .tbl_head01 tbody th{}
.mbskin .tbl_head01 td{}
.mbskin .tbl_head01 a{}
.mbskin td.empty_table{}

/* 폼 테이블 */
.mbskin table{}
.mbskin caption{}
.mbskin .frm_info{}
.mbskin .frm_file{}

.mbskin .tbl_frm01{}
.mbskin .tbl_frm01 th{width:85px;}
.mbskin .tbl_frm01 td{}
.mbskin .tbl_frm01 textarea, .mb_skin tbl_frm01 .frm_input{}
.mbskin .tbl_frm01 textarea{}
/*
.mbskin .tbl_frm01 #captcha {}
.mbskin .tbl_frm01 #captcha input {}
*/

/* selectbox reset */
select:focus{outline:none;}

.mbskin .tbl_frm01 a{}

/* 필수입력 */
.mbskin .required, .mbskin textarea.required{}

/* 테이블 항목별 정의 */
.mbskin .td_board{}
.mbskin .td_chk{}
.mbskin .td_date{}
.mbskin .td_datetime{}
.mbskin .td_group{}
.mbskin .td_mb_id{}
.mbskin .td_mng{}
.mbskin .td_name{}
.mbskin .td_nick{}
.mbskin .td_num{}
.mbskin .td_numbig{}

.mbskin .txt_active{}
.mbskin .txt_expired{}

/* ### 기본 스타일 커스터마이징 끝 ### */

/* 회원가입 약관 */
#register_wrap{margin:0 auto 85px;width:100%;}
#register_wrap .agree_name{position:absolute;font-size:1.35em;margin-left:5px;color:#333;width:max-content;top:0px;left:22px;}
#fregister{margin-top:45px;}
#fregister p{text-align:center;color:#c7254e;background:#f9f2f4;padding:10px;border:1px solid #ecc7d2;margin:0 0 5px}
#fregister_term{margin-bottom:40px;}
#fregister section{position:relative;}
#fregister_chkall{display:inline-block;position:relative;text-align:right; margin:30px 0 15px;float:right;right:0;}
#fregister h2{font-size:1.7em;font-weight:500;margin-bottom:10px;}
#fregister textarea{display:block;padding:20px;width:100%;height:180px;background:#fff;border:1px solid #ddd;line-height:1.4;font-size:16px;color:#555;letter-spacing:-1px;}
#fregister .fregister_agree{position:absolute;right:0;top:5px;text-align:right;display:inline-block;}
/*#register_wrap .agree_check[id="chk_all"]{display:none;}
#register_wrap .agree_check[id="chk_all"] + label{display:inline-block;width:20px;height:20px;border:1px solid #bcbcbc;cursor:pointer;vertical-align:top;margin-top:3px;}
#register_wrap .agree_check[id="chk_all"]:checked + label{background-color:#ff2769;border-color:#ff2769;}
#register_wrap .agree_check[id="agree11"]{display:none;}
#register_wrap .agree_check[id="agree11"] + label{display:inline-block;width:20px;height:20px;border:1px solid #bcbcbc;cursor:pointer;vertical-align:top;margin-top:3px;}
#register_wrap .agree_check[id="agree11"]:checked + label{background-color:#ff2769;border-color:#ff2769;}
#register_wrap .agree_check[id="agree21"]{display:none;}
#register_wrap .agree_check[id="agree21"] + label{display:inline-block;width:20px;height:20px;border:1px solid #bcbcbc;cursor:pointer;vertical-align:top;margin-top:3px;}
#register_wrap .agree_check[id="agree21"]:checked + label{background-color:#ff2769;border-color:#ff2769;}*/
#fregister_private{margin-bottom:40px;}
#fregister_private .title{position:relative;padding:0;}
#fregister_private .text{border:1px solid #ddd; padding:20px;background:#fff;}

#fregister_private table{width:100%;border-collapse:collapse}
#fregister_private table caption{position:absolute;font-size:0;line-height:0;overflow:hidden}
#fregister_private table th{background:#646982;width:33.33%;color:#fff;padding:10px;border:1px solid #555971}
#fregister_private table td{border:1px solid #ddd;padding:10px;}
#fregister .btn_confirm{text-align:center;margin-top:100px;}

#fregister .btn_confirm .btn_submit{width:255px;height:55px;font-weight:bold;font-size:1.46em}


/* 회원가입 입력 */
#register_form{width:100%;margin:100px auto 20px;}
#fregisterform .icon_required{display:inline-block; width:15px; height:15px; background-image:url(../../../img/require.png); background-repeat:no-repeat; vertical-align:sub;}
#fregisterform .text_required{font-size:0.8em; float:right;transform:skew(-0.1deg); }
#fregisterform #msg_certify{margin:5px 0 0;padding:5px;border:1px solid #dbecff;background:#eaf4ff;text-align:center}
#fregisterform .frm_address{margin:5px 0 0}
#fregisterform #mb_addr3{display:inline-block;margin:5px 0 0;vertical-align:middle}
#fregisterform #mb_addr_jibeon{display:block;margin:5px 0 0}
#fregisterform .btn_confirm{text-align:center;margin: 30px auto 50px auto}
#fregisterform .btn_confirm .btn_submit{line-height:55px; height:55px;padding:0 50px;font-weight:bold;font-size:1.5em;letter-spacing:-1px;}
#fregisterform .btn_confirm .btn_cancel{line-height:55px;height:55px;padding:0 50px;font-weight:bold;font-size:1.4em;letter-spacing:-1px;margin-right:5px;}
#fregisterform .frm_info{display:block;color:#666;font-size:1.15em}
#fregisterform .form_01 div{margin:0 0}
#fregisterform .captcha{display:block;margin:5px 0 0}
#fregisterform .reg_mb_img_file img{max-width:100%;height:auto}
#fregisterform .form_name{float:left; margin:0 !important;display:inline-block; width:140px; height:40px; }
#fregisterform .form_name p{display:inline-block; vertical-align:middle;float:left; font-size:1.35em; line-height:40px; transform:skew(-0.1deg); }
#fregisterform .form_name p.line2{line-height:1.35em; }
#fregisterform .r_gender{display:inline-block; margin:0 !important; font-size:1.35em; color:#333; height:40px;line-height:30px; }
#fregisterform .r_gender span{margin-right:20px; font-weight:500;}
#fregisterform .r_agree{display:inline-block; margin:0 !important; font-size:1.35em; color:#333; height:40px; line-height:30px;}
#fregisterform .r_agree{margin-bottom:0 !important;}
#fregisterform .r_agree input{margin-right:6px;}
#fregisterform .r_agree span{margin-right:20px; font-weight:500;}
#fregisterform .form_input{display:inline-block; margin:0 !important;}
#fregisterform .emailbox{margin-bottom:0 !important;}
#fregisterform .emailbox input{width:390px;}
#fregisterform .emailbox select{width:180px; height:40px; font-size:1.15em; color:#333; padding:0 13px; margin-left:10px;}
#fregisterform .telbox, .datebox{display:inline-block;margin:0 !important; }
#fregisterform .telbox select{height:40px; font-size:1.15em; padding:0 13px;}
#fregisterform .datebox select{width:110px; height:40px; font-size:1.15em; padding:0 7px;}
#fregisterform li{border-bottom:1px solid #ddd; min-height:61px;}
#fregisterform li:after{content:""; display:block; clear:both;}
#fregisterform .btn_overlap{background:none; border:1px solid #333; line-height:38px; padding:0 20px; font-size:1.15em; color:#333; margin-left:8px;}
#fregisterform .recommender{display:inline-block; height:40px; font-size:1.35em; line-height:40px; font-weight:bold;}
#fregisterform .form_agree_q{display:inline-block;width:100%;max-width:1050px; margin-bottom:0px !important;}
#fregisterform .form_agree_q img{width:80%;height:auto;margin-top:10px;margin-right:10px}
#fregisterform .form_agree_q p{color:#8b8b8b; font-size:1.35em; font-weight:400;}
#fregisterform .form_agree_q0{display:inline-block;width:100%;max-width:1050px; margin-bottom:0px !important;}
#fregisterform .form_agree_q0 img{display:inline-block;;margin-right:10px}
#fregisterform .form_agree_q0 #del_mb_icon1{margin-right:50px;}

#fregisterform .form_agree_q0 p{color:#8b8b8b; font-size:1.35em; font-weight:400;}

#fregisterform .dashbar{margin:0 10px; display:inline-block; width:5px; height:1px; background-color:#333;}
#fregisterform .at_sign{font-style:normal; font-size:1.2em; margin:0 13px;}

/* 회원가입 완료 */
#reg_result{padding:95px 0 110px;margin:0 auto 110px;width:100%; text-align:center;background:#fff;border:1px solid #ddd;margin-top: 100px;}
#reg_result img{margin-bottom:30px;}
#reg_result h2{font-size:2.2em;margin:0 0 20px;font-weight:500;}
#reg_result h2 strong{color:#ed6478}
#reg_result #result_email{margin:20px 0;padding:10px 50px;border-top:1px solid #e9e9e9;border-bottom:1px solid #dde4e9;background:#fff;line-height:2em}
#reg_result #result_email span{display:inline-block;width:150px}
#reg_result #result_email strong{color:#e8180c;font-size:1.2em}
#reg_result p{line-height:1.5em;font-size:1.5em;font-weight:400;color:#888;}
#reg_result .btn_confirm{margin:50px 0}
#reg_result .reg_result_p{font-size:1.25em;margin:0 0 10px;}
#reg_result .reg_result_p strong{color:#3497d9}
#reg_result .result_btn_all{margin:50px 0 0;}
#reg_result .result_btn_all a{vertical-align:top;}
#reg_result .result_btn_all .btn_submit{width:125px;font-weight:bold;height:55px;line-height:55px;display:inline-block;font-size:1.5em;color:#EB8000;border:1px solid #EB8000;background-color:#fff;margin-right:17px;}
#reg_result .result_btn_all .btn_reseller{width:190px;height:55px;line-height:55px;font-size:1.5em;font-weight:bold; display: none;}


/* 아이디/비밀번호 찾기 */
#find_info #mb_hp_label{display:inline-block;margin-left:10px}
#find_info p{line-height:1.5em}
#find_info #mb_email{margin:10px 0;}


/* 로그인 */
#login_wrap{margin:0 auto 0;width:100%;}
#login_wrap:after{content:"";display:block;clear:both;}
#login_wrap .login_left{max-width: 500px;width: 100%;margin: 0 auto;}
#login_wrap .login_right{padding:0 0 0 25px;float:left;width:50%;}
#login_wrap .login_right img{width:200px;margin-bottom:20px;}
#login_wrap .login_right .welcome_text h2{font-size:2.5em;font-weight:500;line-height:1.2em;margin-bottom:10px;word-break: keep-all;}
#login_wrap .login_right .welcome_text h3{font-size:1.55em;color:#7f7f7f;font-weight:500;line-height:1.35em;margin-bottom:30px;word-break: keep-all;}
#login_wrap .login_right .join_btn{width:100%;height:65px;}
#login_wrap .login_right .join_btn a{display:block;height:100%;line-height:65px;text-align:center;font-size:1.46em;font-weight:bold;color:#ed1f2e;border:1px solid #ed1f2e;}
#login_wrap .login_right .join_btn .icon_check{display:inline-block;width:20px;height:20px;background:url("../../../../img/tick-inside-circle.png") no-repeat center;margin-right:5px;vertical-align:sub;}
#mb_login{margin-bottom:50px}
#login_fs{}
#login_fs div .input_title{font-size:1.5em;font-weight:500;}
#login_fs div input::-ms-input-placeholder{color:#999;}
#login_fs div input::-webkit-input-placeholder{color:#999;}
#login_fs div input::-moz-placeholder{color:#999;}
#mb_login #login_fs .frm_input{margin:5px 0 15px;padding-left:20px;width:100%;height:50px;font-size:1.4em;font-weight:500;}
#mb_login #login_fs .btn_submit{margin:20px 0 13px;width:100%;height:45px;font-size:15px;font-weight:400;display: flex; align-items:center; justify-content:center; }
#mb_login #login_info{}
#mb_login #login_info:after{display:block;visibility:hidden;clear:both;content:""}
#mb_login #login_info h2{position:absolute;font-size:0;line-height:0;overflow:hidden}
#mb_login #login_info a{display:inline-block;width:50%;float:left;font-size:15px;color:#ed1f2e;}
#login_password_lost{}
#login_password_lost .icon_search{display:inline-block;width:20px;height:20px;background:url("../../../../img/musica-searcher.png") no-repeat center;margin-right:5px;vertical-align:sub;}

#mb_login_notmb{margin:100px 0 0;width:100%;padding:0;border-top:1px solid #ddd;transform:skew(-0.1deg); }
#mb_login_notmb h2{font-size:1.25em;margin:20px 0 10px}
#guest_privacy{border:1px solid #ccc;text-align:left;line-height:1.6em;color:#666;background:#fafafa;padding:10px;height:150px;margin:10px 0;overflow-y:auto;}
#mb_login_notmb .btn_submit{display:table;padding:0 20px;width:100%;text-align:center;line-height:45px;margin-top:10px}

#mb_login_od_wr{margin:30px 0;margin-top:0;padding: 0;width:80%;border-top:1px solid #ddd}
#mb_login_od_wr h2{font-size:1.25em;margin:20px 0 10px}
#mb_login_od_wr .frm_input{margin:10px 0 0 }
#mb_login_od_wr p{background:#f3f3f3;margin:20px 0 0;padding:15px 20px;line-height:1.5em}
#mb_login_od_wr .btn_submit{margin-top:10px;width:100%}

/* 쪽지 */
#memo_list .memo_name, #memo_list .memo_name .sv_wrap{font-weight:bold}
#memo_list .memo_datetime{float:right;font-size:0.92em;color:#777;font-style:italic}
#memo_list .memo_del{margin-left:5px; color:#49857c;font-size:15px;}

#memo_view_contents{margin:10px 0;border:1px solid #ddd;}
#memo_view_contents h2{position:absolute;font-size:0;line-height:0;overflow:hidden}
#memo_view_ul{margin:0;border-bottom:1px solid #eee;list-style:none;background:#f3f3f3;}
#memo_view_ul:after{display:block;visibility:hidden;clear:both;content:""}
.memo_view_li{position:relative;padding:10px;float:left;width:50%;}
.memo_view_name strong, .memo_view_name .sv_wrap{font-weight:bold !important}
.memo_view_subj{display:inline-block;height:20px;line-height:18px;border:1px solid #3497d9;color:#3497d9;padding:0 5px;border-radius:15px;font-size:11px;}
.memo_view_li .profile_img img{border-radius:50%}
.memo_view_date{text-align:right;color:#555;font-style:italic}
.memo_view_date strong{font-weight:normal}
#memo_view .btn_b02{float:right}
#memo_view .btn_b02.reply_btn{margin-left:4px}
#memo_view p{padding:10px;border-top:1px solid #ddd;min-height:150px;height:auto !important;height:150px;background:#fff;line-height:1.8em}

#memo_write textarea{height:100px}

/* 스크랩 */
#scrap .scrap_tit{font-weight:bold;display:block;font-size:1.083em;margin-bottom:5px;line-height:1.3em}
#scrap .scrap_cate{ display:block;color:#3598db;font-size:0.92em;float:left;}
#scrap .scrap_datetime{;color:#777;font-style:italic;float:right}
#scrap .scrap_del{position:absolute;top:5px;right:10px;font-size:18px;color:#49857c}
#scrap .scrap_del:hover{color:#98ca69}
#scrap_do table{margin:0 0 10px;width:100%}
#scrap_do textarea{height:100px}
#scrap_do .scrap_tit{background:#f3f3f3;padding:10px 15px;font-size:1.083em;font-weight:bold}
#scrap_do label{display:block;margin:0 0 5px;font-size:0.92em}
/*포인트*/
#point .point_top{line-height:15px;margin:0 0 5px}
#point .point_top:after{display:block;visibility:hidden;clear:both;content:""}
#point .point_tit{font-weight:bold;float:left;font-size:1.083em;display:block;}
#point .point_num{font-size:1.25em;color:#00c4ac;font-weight:bold;float:right;}
#point .point_date1{float:left;color:#555;font-style:italic}
#point .point_date{float:right;color:#555;font-style:italic}
#point .txt_expired{color:#aaa;}
#point .point_all{background:#ae99da;border:0;border-bottom:2px solid #9781c5;color:#fff;font-weight:bold;font-size:1.083em}
#point .point_all span, #point .point_status span{float:right;}
#point .point_status{background:#737373;border:0;color:#fff;font-weight:bold;font-size:1.083em}
#point .point_status span{margin-left:10px}

/* 회원 비밀번호 확인 */
#mb_confirm{width:100%;margin:30px auto 80px;text-align:center;border:1px solid #ddd;padding:100px 0;}
#mb_confirm h1{margin:30px 0 25px;font-size:2.2em;font-weight:500;}
#mb_confirm p{font-size:1.5em;line-height:1.4;color:#707070;margin-bottom:35px;}
#mb_confirm p span{display:block;margin:0 0 5px}
#mb_confirm fieldset{}
#mb_confirm fieldset .frm_input{background-color:#fff !important;width:275px;height:40px;margin-right:3px;padding-left:10px;}
#mb_confirm label{letter-spacing:-0.1em}
#mb_confirm_id{display:block;margin:5px 0 10px;font-weight:bold}
#mb_confirm .confirm_id{font-size:0.92em;color:#666}

/* 비밀글 비밀번호 확인 */
#pw_confirm{width:650px;position:relative;margin:0 auto}
#pw_confirm h1{margin:60px 0 30px;font-size:2em;text-align:center}
#pw_confirm p{padding:0 20px 40px;border-bottom:1px solid #e9e9e9;text-align:center;font-size:1.083em;line-height:1.4em;color:#656565}
#pw_confirm p strong{display:block;color:#3ca1ff;font-size:1.167em;margin:0 0 5px}
#pw_confirm fieldset{padding:35px 20px 50px;text-align:center}
#pw_confirm fieldset .frm_input{background-color:#fff !important;margin-bottom:30px}
#pw_confirm label{letter-spacing:-0.1em}
#pw_confirm_id{display:inline-block;margin-right:20px;font-weight:bold}
#mb_confirm_id{}

/* 폼메일 */
#formmail textarea{height:100px}
#formmail .formmail_flie{position:relative}
#formmail .formmail_flie .file_wr{border:1px solid #ccc;background:#fff;color:#000;vertical-align:middle;border-radius:3px;padding:5px;height:40px;margin:0;}
#formmail .lb_icon{position:absolute;top:1px;left:1px;border-radius:3px 0 0 3px;height:38px;line-height:38px;width:40px;background:#eee;text-align:center;color:#888;}
#formmail .frm_file{padding-left:50px;}
#formmail .frm_info{color:#3497d9;font-size:0.92em;}

/* 자기소개 */
#profile h1 a{color:#fff}
#profile table{margin-bottom:0}
#profile table th{text-align:left;padding:10px;width:100px}
#profile section{color:#2d4c7b;background:#eff9f9;padding:10px;border:1px solid #bfd4dc;margin:10px 0;}
#profile h2{margin:0 0 5px}
#profile .profile_name{text-align:center;font-weight:bold}
#profile .my_profile_img{display:block;margin:20px 0 5px;}
#profile .my_profile_img img{border-radius:50%;border:1px solid #aaa}
#profile .profile_img img{border-radius:50%}
#profile .profile_name .sv_wrap{font-weight:bold;text-align:left}


.frm_input{font-size:16px}

#del_mb_icon{margin:0 4px}

.r_gender input[type="radio"]{display:none; }
.r_gender input[type="radio"] + label span{position:relative;display:inline-block;vertical-align:middle;cursor:pointer;line-height:1.2;padding-left:1.5em; }
.r_gender input[type="radio"] + label span:before{position:absolute;content:"";border:1px solid #c0c8d0;background:#ebebeb;border-radius:50%;width:13px;height:13px;left:0;margin-top:4px; }
.r_gender input[type="radio"]:checked + label span:before{border:1px solid #c0c8d0;background:#aeaeae; }


.r_agree input[type="radio"]{display:none; }
.r_agree input[type="radio"] + label span{position:relative;display:inline-block;vertical-align:middle;cursor:pointer;line-height:1.2;padding-left:1.5em; }
.r_agree input[type="radio"] + label span:before{position:absolute;content:"";border:1px solid #c0c8d0;background:#ebebeb;border-radius:50%;width:13px;height:13px;left:0;margin-top:4px; }
.r_agree input[type="radio"]:checked + label span:before{border:1px solid #c0c8d0;background:#aeaeae; }



/* 내정보 */
#myinfo_top{border:5px solid #e7e7e7;padding:25px;padding-right:0;margin:25px 0;}
#myinfo_top:after{content:'';display:block;clear:both;}
#myinfo_top .t01{display:inline-block;padding:15px 25px;}
#myinfo_top .t01 img{vertical-align:top;margin-right:50px;}
#myinfo_top .t01 div{display:inline-block;}
#myinfo_top .t01 .my_text{font-size:1.5em;margin-bottom:15px;line-height:1.4;color:#404040;}
#myinfo_top .t01 .my_text .small{font-size:0.9em;}
#myinfo_top .t01 .my_text .pink{font-weight:500;}
#myinfo_top .t01 .my_btn{}
#myinfo_top .t01 .my_btn a{width:110px;height:28px;display:inline-block;font-size:1.2em;padding:0 !important;line-height:27.5px;text-align:center;background-color:#252525;color:#fff;font-weight:300;}
#myinfo_top .t01 .my_btn .btn_style_pink{margin-right:5px;background-color:#ff2769;}
#myinfo_top .t01 .my_btn .icon_arrow_right{font-family:'fontawesome';font-style:normal;font-size:1.35em;margin-left:5px;vertical-align:top;display:inline-block;}
#myinfo_top .t02{display:inline-block;float:right;}
#myinfo_top .t02 ul{display:inline-block;}
#myinfo_top .t02 ul li{width:190px;display:inline-block;border-right:1px solid #ddd;text-align:center;padding-top:14px;}
#myinfo_top .t02 ul li:last-child{border-right:0;}
#myinfo_top .t02 ul li img{height:39px;}
#myinfo_top .t02 ul li p{font-size:1.4em;color:#404040;margin-top:13px;}
#myinfo_top .t02 ul li p .gray{color:#868686;}
#myinfo_table h3{background-color:#000;color:#fff;font-size:18px;line-height:45px;padding:0 40px;font-weight:normal;display:inline-block;}
#myinfo_table ul{border-top:1px solid #000;margin-bottom:40px;}
#myinfo_table ul li{border-bottom:1px solid #ddd;font-size:1.35em;color:#252525;padding:15px 0;}
#myinfo_table ul li div{display:inline-block;}
#myinfo_table ul li div p{line-height:2;}
#myinfo_table ul li .form_name{width:15%;vertical-align:baseline;color:#0e0e0e;}
#myinfo_table ul li .va_t{vertical-align:top;}
#myinfo_table ul li .form_text{color:#252525;}
#myinfo_table ul li .form_text input{width:500px;height:40px;vertical-align:top;color:#585858;padding-left:10px;border:1px solid #252525;}
#myinfo_table ul li .form_text .myinfo_btn{font-size:0.87em;padding:3px 11px;margin:0 10px;color:#fff;display:inline-block;line-height:normal;}
#myinfo_table ul li .form_text .bt_pink{background-color:#ff2769;}
#myinfo_table ul li .form_text .bt_green{background-color:#42bc2d;}
#myinfo_table ul li .form_text .bt_black{background-color:#252525;}
#myinfo_table ul li .form_text .myinfo_btn_sel{color:#fff;width:150px;line-height:40px;padding:0;margin:0;text-align:center;font-size:1em;cursor:pointer;}
#myinfo_table ul li .form_text .gray{color:#727272;}


#container_wr .btn_confirm{text-align:center;position:relative;display:table;width:100%;margin:10px auto 0 auto;}
#container_wr .btn_confirm .btn_style_pink{font-size:1.5em;font-weight:bold;line-height:55px;}

.form_01 h2 {font-size:19px;}
.form_01 li {margin:0;margin-bottom:20px;}
.label_tit {font-size:15px;display:block;margin-bottom:7px;}
.label_tit span {color:red;padding-left:5px;}

.regi_radio_ul {}
.regi_radio_ul li {display:inline-block;vertical-align:middle;margin-right:20px;}
.regi_radio_ul li:last-child {margin-right:0;}
.regi_radio_ul input[type="radio"] { display: none; }
.regi_radio_ul input[type="radio"] + label { display:inline-block;vertical-align:middle;position:relative;cursor:pointer;font-size:14px;line-height:16px;height:16px;transform:skew(-0.1deg);-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;}
.regi_radio_ul input[type="radio"] + label::before {content:'';display:inline-block;vertical-align:middle;width:14px;height:14px;border-radius:50%;border:1px solid #777;margin-right:3px;position:relative;top:0px;}
.regi_radio_ul input[type="radio"] + label::after {content:'';display:none;width:10px;height:10px;border-radius:50%;background:#000;position:absolute;left:2px;top:3px;}
.regi_radio_ul input[type="radio"]:checked + label::after {display:block;}

.register_chk {font-size:17px;line-height:20px;}
.register_chk input[type="checkbox"] { display: none; }
.register_chk input[type="checkbox"] + label { display:inline-block;position:relative;cursor:pointer;padding-left:30px;color:#999}
.register_chk input[type="checkbox"] + label::before {content:'';width:20px;height:20px;border:1px solid #bcbcbc;position:absolute;left:0;top:calc(50% - 0.5px);transform:translateY(-50%);}
.register_chk input[type="checkbox"]:checked + label::before {background:#541d83;border-color:#541d83;}

#login_wrap .login_not {float:none;width:100%;padding:100px 0;padding-right:0;}
.not_sec {margin-top:60px;}
.not_sec:first-child {margin-top:0;}
.not_sec h3 {font-size:21px;line-height:21px;font-weight:400;color:#222;margin-bottom:15px;}
.not_tb {transform:skew(-0.1deg);}
.not_tb th {text-align:left;font-size:14px;font-weight:400;width:90px;}
.not_tb td {padding:0 10px;font-size:14px;font-weight:400;}
.not_tb td.verse {height:7px;}
.not_tb .not_ipt {width:260px;height:36px;border:2px solid #dfdfdf;background:#fff;padding:0 10px;font-size:14px;border-radius:none;box-shadow:none;}
.not_tb .not_ipt2 {width:170px;margin-left:20px;}
.not_tb .not_ipt3 {width:79px;}
.not_tb .golbange {padding:0 7px;}
.not_tb .btn_submit {width:80px;height:79px;background:#333;font-size:17px;color:#fff;outline:none;}
.not_info {margin-top:50px;}
.not_info li {font-size:15px;line-height:17px;color:#444;transform:skew(-0.1deg);margin-bottom:10px;}
.not_info li:last-child {margin-bottom:0;}
.not_info li span {color:#DA251C}

.form_01 li .right_input{float: none;}