@charset "utf-8";

#bo_cate {margin-bottom:28px}
#bo_cate h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_cate ul {zoom:1}
#bo_cate ul:after {display:block;visibility:hidden;clear:both;content:""}
#bo_cate li {display:inline-block;padding:2px}
/* #bo_cate a {display:block;line-height:28px;padding:5px 15px;border-radius:30px;border:1px solid #d6e9ff;color:#6794d3}
#bo_cate a:focus, #bo_cate a:hover, #bo_cate a:active {text-decoration:none;background:#3a8afd;color:#fff} */
#bo_cate #bo_cate_on.me_btnd {background-color: #4b4599 !important;}

#faq_wrap {margin:10px 0 30px;min-height: 250px;}
#faq_wrap h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.faq_admin {text-align:right}
#faq_wrap ol {margin:30px 0 0 0;padding:0;list-style:none}
#faq_wrap li {background:#F2F2F2;position:relative;margin-bottom: 10px;}
#faq_wrap li h3 {min-height:50px;line-height:30px;padding:10px;padding-left:40px;position:relative;background-color: #fff;font-size: 14px;font-weight: 500;color: #222;letter-spacing: -0.05em;border: 1px solid #EDEDED;}
#faq_wrap li h3 .tit_btn {position:absolute;right:20px;top:15px;border:0;width:22px;height:12px;background:#fff;transform:scale(0.7)}
#faq_wrap li h3 .tit_bg {display:inline-block;position:absolute;top:10px;left:10px;text-align:center;color:#40a3ff;font-size:10px;font-weight: 600;}
#faq_wrap li h3.faq_li_open a {color:#222}
.faq_arrow{transition: all 0.4s ease-in; }
#faq_wrap li h3.faq_li_open .faq_arrow{transform:rotate(180deg); }

#faq_con .con_inner {display:none;padding: 40px 20px 20px;position: relative;font-size: 13px;font-weight: 400;}
#faq_con .con_inner p{font-weight: 400;}
#faq_con .con_inner .tit_bg {display:inline-block;position:absolute;left: 20px;top: 10px;color:#000;font-size:13px;font-weight: 600;}
#faq_con .con_inner .closer_btn {position:absolute;right:20px;top:20px;border:0;width:30px;height:30px;background:#fff;color:#3a8afd;font-size:1.2em}

#faq_sch {background:#f7f7f7;padding:30px;text-align:center;margin:0 0 10px}
#faq_sch .sch_tit {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
#faq_sch .frm_input {border:1px solid #d0d3db;width:300px;height:45px;border-radius:0;border-radius:3px}
#faq_sch .btn_submit {padding:0 10px;height:45px;width:88px;font-size:1.083em;font-weight:bold;color:#fff;background:#434a54}


